<div class="grid items-center mt-8 gap-2">
    <div class="flex justify-between items-center">
      <p>Insights</p>
    </div>
    <div class="flex justify-between items-center">
      <p>Walked Dogs</p>
      <p>0</p>
    </div>
    <div class="flex justify-between items-center">
      <p>Owners worked with</p>
      <p>0</p>
    </div>
  </div>