<div
    class="bg-cover bg-center h-96 relative  mt-[4.45rem]"
    style="
      background-image: url('adorable-white-bulldog-puppy-portrait-social-banner.png');
    "
  >
    <div class="lg:pl-48 pt-10 max-[768px]:pl-4 md:pl-36">
      <h1
        class="md:text-5xl font-bold text-white leading-loose max-[768px]:text-3xl"
      >
        Local, trusted pet care
      </h1>
      <h1 class="md:text-2xl font-medium text-white">
        Book 5-star Pet Caregivers near you
      </h1>
    </div>
  </div>