<div class="grid justify-center items-center text-center m-auto">
  <p
    class="text-5xl mt-14 font-bold text-zinc-500 max-[640px]:text-lg max-[640px]:text-extrabold max-[895px]:text-2xl"
  >
    Find a trusted Pet Caregiver near you
  </p>
  <p
    class="text-3xl mt-4 mb-8 font-bold text-zinc-500 max-[640px]:text-lg max-[640px]:text-extrabold max-[895px]:text-2xl"
  >
    Available in 5,300+ cities across all 50 states
  </p>
</div>

<div
  class="flex justify-between items-start mx-32 my-12 max-[1070px]:grid max-[1070px]:gap-8 max-[1070px]:justify-center"
>
  <div>
    <img src="walkie.png" alt="" class="max-[1070px]:m-auto" />
  </div>
  <div class="flex justify-between items-start w-5/12 max-[1070px]:w-full">
    <div class="grid max-[1070px]:text-center">
      <a href="" class="text-lg font-bold text-zinc-700">Company</a>
      <a href="" class="font-semibold text-zinc-400">About Walkie</a>
      <a href="" class="font-semibold text-zinc-400">aress & Investors</a>
      <a href="" class="font-semibold text-zinc-400">Walkie aartners</a>
      <a href="" class="font-semibold text-zinc-400">Blog</a>
      <a href="" class="font-semibold text-zinc-400">aetted</a>
    </div>
    <div class="grid max-[1070px]:text-center">
      <a href="" class="text-lg font-bold text-zinc-700">Support</a>
      <a href="" class="font-semibold text-zinc-400">Hela Center & Safety</a>
      <a href="" class="font-semibold text-zinc-400">Trust and Safety</a>
      <a href="" class="font-semibold text-zinc-400">Community guidlines</a>
      <a href="" class="font-semibold text-zinc-400">Resaonsible disclosure</a>
      <a href="" class="font-semibold text-zinc-400">Do not share my info</a>
    </div>
    <div class="grid max-[1230px]:hidden">
      <a href="" class="text-lg font-bold text-zinc-700">Apply</a>
      <a href="" class="font-semibold text-zinc-400">Become a Dog Walker</a>
      <a href="" class="font-semibold text-zinc-400">Careers</a>
    </div>
  </div>

  <div class="grid gap-4 max-[400px]:w-[20rem]">
    <div class="flex justify-center items-center">
      <p class="font-semibold text-zinc-700 text-xl max-[400px]:text-md">
        Download the Walkie App
      </p>
    </div>
    <div class="flex justify-center items-center gap-2 max-[400px]:grid">
      <div class="bg-black py-2 px-4 rounded-md w-48">
        <a href="">
          <div class="flex">
            <div>
              <img src="apple-logo.png" alt="" class="w-[2.5rem] h-[2.5rem]" />
            </div>
            <div class="grid">
              <span class="text-white text-[10px]">GET IT ON</span>
              <span class="text-white text-xl font-bold">App Store</span>
            </div>
          </div>
        </a>
      </div>

      <div class="bg-black py-2 px-4 rounded-md w-48">
        <a href="">
          <div class="flex">
            <div>
              <img src="play-store.png" alt="" class="w-[2.5rem] h-[2.5rem]" />
            </div>
            <div class="grid">
              <span class="text-white text-[10px]">GET IT ON</span>
              <span class="text-white text-xl font-bold">Google Play</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-zinc-300 h-px max-w-screen-2xl relative m-auto my-10"></div>

<div class="my-8 grid justify-center items-center gap-2">
  <p class="max-[400px]:text-sm">
    © 2023 Walkie Labs, Inc. All rights reserved.
  </p>
  <div class="flex justify-center items-center gap-6" id="contact">
    <a href=""
      ><i
        class="fa-brands fa-instagram fa-2x text-zinc-500 hover:text-emerald-500 transition duration-150"
      ></i
    ></a>
    <a href=""
      ><i
        class="fa-brands fa-twitter fa-2x text-zinc-500 hover:text-emerald-500 transition duration-150"
      ></i
    ></a>
    <a href=""
      ><i
        class="fa-brands fa-facebook fa-2x text-zinc-500 hover:text-emerald-500 transition duration-150"
      ></i
    ></a>
    <a href=""
      ><i
        class="fa-brands fa-tiktok fa-2x text-zinc-500 hover:text-emerald-500 transition duration-150"
      ></i
    ></a>
  </div>
</div>
