<div class="relative bottom-12 gird justify-center w-full" >
    <div class="flex justify-center items-center m-auto" id="description">
      <p
        class="text-5xl text-zinc-500 font-bold leading-loose max-[640px]:font-semibold max-[640px]:text-3xl"
        
      >
        Why Walkie!?
      </p>
    </div>

    <div
      class="flex justify-center items-center w-[39rem] m-auto gap-6 h-35 max-[640px]:mx-auto max-[640px]:grid max-[640px]:text-center max-[640px]:w-11/12 max-[640px]:my-10"
    >
      <img src="dog.png" class="w-28 max-[640px]:mx-auto" />
      <img src="pow.png" class="relative top-16 max-[640px]:hidden" />
      <div class="">
        <p
          class="text-3xl text-zinc-500 font-bold leading-loose max-[640px]:text-xl"
        >
          Here when you need us
        </p>
        <p class="text-lg text-zinc-500 max-[640px]:text-base">
          Whether you're looking for daily walks, planning a trip, stuck at
          work, or just want your best friend to have some company — we offer
          any day, anytime care.
        </p>
      </div>
    </div>
    <div
      class="flex justify-center items-center w-[39rem] m-auto gap-6 h-35 max-[640px]:mx-auto max-[640px]:grid max-[640px]:text-center max-[640px]:w-11/12 max-[640px]:my-10"
    >
      <img src="dogs-pic-2.png" class="w-28 max-[640px]:mx-auto" />
      <img
        src="pow.png"
        class="relative top-16 max-[640px]:hidden max-[640px]:"
      />
      <div>
        <p
          class="text-3xl text-zinc-500 font-bold leading-loose max-[640px]:text-xl"
        >
          Safety is serious business
        </p>
        <p class="text-lg text-zinc-500 max-[640px]:text-base">
          Your dog's safety is our top priority. Every Pet Caregiver passes an
          enhanced background check, our services are insured, and support is
          standing by around the clock.
        </p>
      </div>
    </div>
    <div
      class="flex justify-center items-center w-[39rem] m-auto gap-6 h-35 max-[640px]:mx-auto max-[640px]:grid max-[640px]:text-center max-[640px]:w-11/12 max-[640px]:my-4"
    >
      <img src="dogs-pic-3.png" class="w-28 max-[640px]:mx-auto" />
      <img
        src="pow.png"
        class="relative top-16 max-[640px]:hidden max-[640px]:"
      />
      <div>
        <p
          class="text-3xl text-zinc-500 font-bold leading-loose max-[640px]:text-xl"
        >
          All about convenience
        </p>
        <p class="text-lg text-zinc-500 max-[640px]:text-base">
          We've thought of everything, so you don't have to. From GPS-tracked
          walks and customized lockboxes, to easy booking on the Wag! app, we
          make your life easier at every step.
        </p>
      </div>
    </div>
    <div
      class="flex justify-center items-center w-[39rem] m-auto gap-6 h-35 max-[640px]:mx-auto max-[640px]:grid max-[640px]:text-center max-[640px]:w-11/12 max-[640px]:my-10"
    >
      <img src="dogs-pic-4.png" class="w-28 max-[640px]:mx-auto" />
      <img
        src="powWithNoStick.png"
        class="relative top-2 max-[640px]:hidden max-[640px]:"
      />
      <div>
        <p
          class="text-3xl text-zinc-500 font-bold leading-loose max-[640px]:text-xl"
        >
          We've been around the block
        </p>
        <p class="text-lg text-zinc-500 max-[640px]:text-base">
          Wag! has a trusted record of experience with over 12.1M pet care
          services across 5,300 cities and counting. More than 400,000 Pet
          Caregivers nationwide are dog people, and it shows.
        </p>
      </div>
    </div>
    <div class="flex justify-center items-center mt-5">
      <a
        href=""
        class="bg-emerald-500 hover:bg-emerald-400 py-2 px-2 rounded-lg transition duration-300"
        ><span class="font-extrabold text-white text-xl">Get started</span></a
      >
    </div>
  </div>