<div class="max-w-full bg-emerald-500 h-[43rem] grid justify-start items-center mt-20  max-[1000px]:justify-center ">
    <div class="flex gap-3 items-end  max-[1000px]:grid ">
      <img src="heart.png" alt="" class="w-[38rem] ml-40 max-[1000px]:ml-0">
      <div class="max-w-2xl max-[1000px]:m-auto max-[1000px]:text-center  ">
        <p class="text-4xl font-bold mb-8 text-white max-[640px]:font-semibold max-[640px]:text-3xl ">Feeding shelter dogs with each walk</p>
        <p class="text-3xl font-bold mb-5 text-white max-[640px]:font-semibold max-[640px]:text-3xl ">We've donated over 16,500,000 meals!</p>
        <p class="text-xl font-medium text-white max-[640px]:text-base max-[640px]:mx-2">A portion of the proceeds from each walk you 
          book helps to feed a shelter dog in your area. 
          It’s just one of the many ways Wag! gives back 
          and helps you become a part of something larger.</p>
      </div>
      
    </div>
    
</div>