<div class="flex justify-center items-center m-auto mb-20" id="about">
    <p class="text-5xl mt-32 font-bold text-zinc-500 max-[640px]:font-bold max-[640px]:text-3xl">
      Trust and Safety
    </p>
</div>


<div class="flex justify-center items-center m-auto max-w-screen-2xl max-[640px]:grid max-[640px]:gap-20" >

  <div class="grid text-center w-1/3 max-[640px]:w-full">
    <img src="safety.png" alt="" class="w-52 m-auto">
    <p class="text-4xl font-bold text-zinc-500 max-[640px]:font-semibold max-[640px]:text-3xl">Vetted Pet Caregivers</p>
    <p class="text-xl font-semibold text-zinc-400 max-[640px]:text-base" >Each walker with Walkie! has been through a comprehensive screening.</p>
  </div>
  <div class="grid text-center w-1/3 max-[640px]:w-full">
    <img src="insurance.png" alt="" class="w-52 m-auto">
    <p class="text-4xl font-bold text-zinc-500 max-[640px]:font-semibold max-[640px]:text-3xl">Backed by insurance</p>
    <p class="text-xl font-semibold text-zinc-400 max-[640px]:text-base">Services booked! platform may be protected with up to $1M property damage protection.</p>
  </div>
  <div class="grid text-center w-1/3 max-[640px]:w-full">
    <img src="support.png" alt="" class="w-52 m-auto">
    <p class="text-4xl font-bold text-zinc-500 max-[640px]:font-semibold max-[640px]:text-3xl">Anytime support</p>
    <p class="text-xl font-semibold text-zinc-400 max-[640px]:text-base">Our Customer Success team is available to you and your pet 24/7.</p>
  </div>

</div>