<form
      action="/dashboard"
      method="post"
      class="isDoneForm grid justify-center items-center"
    >
      <div class="isDoneDiv grid gap-3 hidden">
        <input type="hidden" name="isDoneWalking" value="isDoneWalking" />
        <select
          name="reviewTitle"
          id="reviewTitle"
          class="addressList max-[900px]:w-[98.5vw] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-neutral-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-blue-500"
          required
        >
          <option value="" selected="selected">How was ur experience</option>
          <option value="Good Experience">Good Experience</option>
          <option value="Bad Experience">Bad Experience</option>
        </select>

        <textarea
          name="review"
          id="review"
          rows="4"
          class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Describe Your Experience"
        ></textarea>
      </div>

      <button
        type="button"
        class="isDoneButton mt-3 bg-emerald-500 px-4 py-2 border border-emerald-500 text-white hover:bg-white hover:text-emerald-500 transition duration-200"
      >
        Yes He Is
      </button>
    </form>