<div class="w-full h-96 mt-20 bg-gray-600">
    <%if(foundWalker.coverImg){%>
    
    <img
      class="object-cover w-full h-full"
      src="uploads/<%=foundWalker.coverImg%>"
      alt=""
    />
    <%}%>
  </div>