<div class="">
    <p
      class="font-bold text-zinc-600 text-lg mb-4 pb-2 border-b border-zinc-300"
    >
      Descriptions
      
    </p>
    <%if(foundWalker.descriptions){%>
      <p class="descriptionsText"><%=foundWalker.descriptions%></p>
    <%}else{%>
      <p class="descriptionsText text-zinc-500">No description yet</p>
    <%}%>
    

   
  </div>