<div class="">
  <p class="font-bold text-zinc-600 text-lg mb-2 border-b border-zinc-300 ">
    Reveiws
  </p>
  <% reviews.map(review=>{%>
    
      <div class="grid gap-2 w-full">
        <div class="flex items-center gap-4">
          <img
            src="IMG_0292.png"
            alt=""
            class="bg-white flex justify-start items-start rounded-full h-12 w-12 object-contain relative"
          />
          <p><%= review.owner.name %></p>
        </div>

        <p>
          <%= review.review.content %>
        </p>
      </div>
    </div>
  <%}) %>
</div>

