<%- include('header'); -%>

<div class="w-1/2 m-auto mt-4 flex justify-start items-center gap-4 bg-white max-[900px]:w-[90%] max-[900px]:gap-2"  >
        <img src="hamBurgerBtn.png" alt="" class="homeBurger w-16 max-[900px]:w-12 cursor-pointer">
        <img src="walkie.png" alt="" class="max-[900px]:w-28">
</div>
<div class=" flex  h-screen">
    <div class="leftSilder bg-white w-[25%]  h-screen pt-12 absolute -left-96 z-10  max-[900px]:w-[40%] ">
        <div class="grid justify-center items-center m-auto gap-4">
        <img src="<%=img%>" alt="" class="rounded-full w-32 m-auto max-[900px]:w-16">
        <p class="text-2xl text-zinc-500 font-bold text-center max-[900px]:text-base"><%=name%></p>
        <a href="" class="text-center text-lg text-white bg-emerald-500 max-w-full rounded-lg px-8 py-4 max-[900px]:px-2 max-[900px]:py-2 max-[900px]:text-sm ">Become a Walker</a>
        </div>
        
    </div>
    <div class="bgChange  w-full   max-[900px]:m-auto  grid justify-center items-start pt-12 bg-white transition duration-300 ease-in max-[900px]:pr-0 max-[900px]:max-w-full max-[900px]:h-screen max-[900px]:w[100vw] max-[900px]:text-center ">
        <div class=" grid gap-12 ">
            <p class="text-5xl text-zinc-400 mb-4 max-[900px]:text-2xl">Want to walk your pet?</p>
            <a href="/home/walk-your-dog">
                <div class="grid justify-center pb-4 items-center text-center  hover:bg-neutral-300 hover:scale-105 transition duration-300 rounded-lg">
                    <img src="dog-walking.png" alt="" class="max-w-sm m-auto max-[900px]:max-w-xs">
                    <p class="text-3xl text-zinc-500 font-bold">Walk</p>
                    <p class="text-xl text-zinc-400">Get their step in</p>
                </div>
            </a> 
            <div class="text-center border-t border-solid border-zinc-600 pt-8">
                <p class="text-2xl text-zinc-500 font-bold">
                    Upcoming services
                </p>
                <p class="text-xl text-zinc-400 max-[900px]:w-[98%]">
                    You have no upcoming services, book a service now!
                </p>
            </div>
            
        </div>
        
        

        
    </div>
</div>



<%- include('footer'); -%>