<!-- HERE THE CAROUSEL STARTS -->

<!-- Title of the carousel -->
<div class="flex justify-center items-center m-auto">
    <p class="text-5xl my-12 font-bold text-zinc-500 max-[640px]:text-lg max-[640px]:text-extrabold max-[895px]:text-2xl ">
      Millions of 5-star services and counting
    </p>
</div>

<!-- Container for the carousel -->
<div
    id="carouselExampleCaptions"
    class="relative max-w-6xl flex justify-center items-center m-auto"
    data-te-carousel-init
    data-te-carousel-slide
>

    <!-- Carousel indicators -->
    <div
      class="absolute right-0 bottom-0 left-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
      data-te-carousel-indicators
    >
      <button
        type="button"
        data-te-target="#carouselExampleCaptions"
        data-te-slide-to="0"
        data-te-carousel-active
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-te-target="#carouselExampleCaptions"
        data-te-slide-to="1"
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-te-target="#carouselExampleCaptions"
        data-te-slide-to="2"
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
        aria-label="Slide 3"
      ></button>
    </div>

    <!-- Carousel items -->
    <div
      class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
    >

        <!-- First item in the carousel -->
        <div
            class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
            data-te-carousel-active
            data-te-carousel-item
            style="backface-visibility: hidden"
        >
            <div class="flex gap-2">
          <div
            class="w-1/3 text-center grid justify-center max-[768px]:w-1/2 max-[560px]:w-full"
          >
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
          <div
            class="w-1/3 text-center grid justify-center max-[768px]:w-1/2 max-[560px]:hidden"
          >
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
          <div class="w-1/3 text-center grid justify-center max-[768px]:hidden">
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
        </div>
      </div>

        <!-- Second item in the carousel -->

      <div
        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
        data-te-carousel-item
        style="backface-visibility: hidden"
      >
        <div class="flex gap-2">
          <div
            class="w-1/3 text-center grid justify-center max-[768px]:w-1/2 max-[560px]:w-full"
          >
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
          <div
            class="w-1/3 text-center grid justify-center max-[768px]:w-1/2 max-[560px]:hidden"
          >
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
          <div class="w-1/3 text-center grid justify-center max-[768px]:hidden">
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
        </div>
      </div>

      <!-- Third item in the carousel -->

      <div
        class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
        data-te-carousel-item
        style="backface-visibility: hidden"
      >
        <div class="flex gap-2">
          <div
            class="w-1/3 text-center grid justify-center max-[768px]:w-1/2 max-[560px]:w-full"
          >
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
          <div
            class="w-1/3 text-center grid justify-center max-[768px]:w-1/2 max-[560px]:hidden"
          >
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
          <div class="w-1/3 text-center grid justify-center max-[768px]:hidden">
            <img src="dogs-pic-2.png" alt="dog" class="w-20 m-auto" />
            <p>curtis</p>
            <p>
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus. Proin eget tortor risus. Sed porttitor lectus nibh.
              Vivamus magna justo, lacinia eget consectetur sed, convallis at
              tellus.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="absolute top-0 bottom-0 left-0 z-[1] flex w-[2.5rem] items-center justify-center border-0 bg-none p-0 text-center text-white transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      data-te-target="#carouselExampleCaptions"
      data-te-slide="prev"
    >
      <img
        src="arrow.png"
        alt=""
        class="bg-emerald-400 hover:bg-emerald-500 transition duration-150 rounded-full p-2 min-[1300px]:relative min-[1300px]:right-20 max-[640px]:relative max-[560px]:top-10 max-[560px]:hidden"
      />
    </button>
    <button
      class="absolute top-0 bottom-0 right-0 z-[1] flex w-[2.5rem] items-center justify-center border-0 bg-none p-0 text-center text-white transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      data-te-target="#carouselExampleCaptions"
      data-te-slide="next"
    >
      <img
        src="next.png"
        alt=""
        class="bg-emerald-400 hover:bg-emerald-500 transition duration-150 rounded-full p-2 min-[1300px]:relative min-[1300px]:left-20 max-[640px]:relative max-[560px]:top-10 max-[560px]:hidden"
      />
    </button>
  </div>