<%- include('header'); -%>

<div class="h-24 flex items-center justify-center mt-4">
  <a href="/"><img src="walkie.png" alt=""  class="mb-10 w-52 max-[830px]:w-40"></a> 
</div>
<div class="max-w-4xl m-auto">


  <!-- This is the title -->
  <div class="grid justify-center items-center m-auto text-center">
    <p class="text-4xl text-zinc-600">Welcome to Wag!</p>
    <p class="text-xl text-zinc-500">
      Sign up to stay up to date on your future requests.
    </p>
  </div>
  <!-- This is the title -->


  <!-- This is the buttons area -->
  <div class="flex justify-center items-center my-12 gap-3 max-[830px]:grid max-[830px]:-mb-3">
    <a href="/auth/google"
      class="flex justify-center items-center border border-solid border-black hover:bg-zinc-300 transition duration-200 px-6 py-3 rounded-lg"
    >
      <img src="google.png" alt="" class="w-8" />
      <p class="text-lg font-bold text-zinc-500 w-[13rem]">
        Continue with Google
      </p>
    </a>
    
  </div>
  <!-- This is the buttons area -->


  <!-- This is the vertical line -->
  <div class="flex justify-center items-center my-8">
    <div class="bg-black w-[90%] h-px"></div>
    <div class="text-xl mx-2">OR</div>
    <div class="bg-black w-[90%] h-px"></div>
  </div>
  <!-- This is the vertical line -->


  <!-- This is the signing by email form  -->
  <form action="/signUp" method="post">
    <div class="grid justify-start items-center max-[830px]:justify-center ">
      <div class="flex  gap-4 max-[830px]:grid max-[830px]:justify-center max-[830px]:items-center max-[830px]:gap-1 ">
        <div class="relative mb-3 ">
          <input
            type="text"
            class="peer m-0 block h-[58px] w-[27.5rem] max-[830px]:w-[98.5vw] rounded border border-solid border-neutral-300 bg-white bg-clip-padding py-4 px-3 text-base font-normal leading-tight text-neutral-700 ease-in-out placeholder:text-transparent focus:border-emerald-500 focus:bg-white focus:pt-[1.625rem] focus:pb-[0.625rem] focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:bg-neutral-800 dark:text-neutral-200 [&:not(:placeholder-shown)]:pt-[1.625rem] [&:not(:placeholder-shown)]:pb-[0.625rem]"
            id="floatingInput"
            placeholder="name@example.com"
            required
            name="Fname"
          />
          <label
            for="floatingInput"
            class="pointer-events-none absolute top-0 left-0 origin-[0_0] border border-solid border-transparent py-4 px-3 text-neutral-700 transition-[opacity,_transform] duration-100 ease-in-out peer-focus:translate-x-[0.15rem] peer-focus:-translate-y-2 peer-focus:scale-[0.85] peer-focus:opacity-[0.65] peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:scale-[0.85] peer-[:not(:placeholder-shown)]:opacity-[0.65] motion-reduce:transition-none dark:text-neutral-200"
            >First name</label
          >
        </div>
        <div class="relative mb-3 ">
          <input
            type="text"
            class="peer m-0 block h-[58px] w-[27.5rem] max-[830px]:w-[98.5vw] rounded border border-solid border-neutral-300 bg-white bg-clip-padding py-4 px-3 text-base font-normal leading-tight text-neutral-700 ease-in-out placeholder:text-transparent focus:border-emerald-500 focus:bg-white focus:pt-[1.625rem] focus:pb-[0.625rem] focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:bg-neutral-800 dark:text-neutral-200 [&:not(:placeholder-shown)]:pt-[1.625rem] [&:not(:placeholder-shown)]:pb-[0.625rem]"
            id="floatingInput"
            placeholder="name@example.com"
            required
            name="Lname"
          />
          <label
            for="floatingInput"
            class="pointer-events-none absolute top-0 left-0 origin-[0_0] border border-solid border-transparent py-4 px-3 text-neutral-700 transition-[opacity,_transform] duration-100 ease-in-out peer-focus:translate-x-[0.15rem] peer-focus:-translate-y-2 peer-focus:scale-[0.85] peer-focus:opacity-[0.65] peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:scale-[0.85] peer-[:not(:placeholder-shown)]:opacity-[0.65] motion-reduce:transition-none dark:text-neutral-200"
            >Last name</label
          >
        </div>
      </div>
      <div class="flex  gap-4 max-[830px]:grid max-[830px]:justify-center max-[830px]:items-center max-[830px]:gap-1 ">
        <div class="relative mb-3 ">
          <input
            type="email"
            class="email peer m-0 block h-[58px] w-[27.5rem] max-[830px]:w-[98.5vw] rounded border border-solid border-neutral-300 bg-white bg-clip-padding py-4 px-3 text-base font-normal leading-tight text-neutral-700 ease-in-out placeholder:text-transparent focus:border-emerald-500 focus:bg-white focus:pt-[1.625rem] focus:pb-[0.625rem] focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:bg-neutral-800 dark:text-neutral-200 [&:not(:placeholder-shown)]:pt-[1.625rem] [&:not(:placeholder-shown)]:pb-[0.625rem]"
            id="floatingInput"
            placeholder="name@example.com"
            required
            name="email"
          />
          <label
            for="floatingInput"
            class="pointer-events-none absolute top-0 left-0 origin-[0_0] border border-solid border-transparent py-4 px-3 text-neutral-700 transition-[opacity,_transform] duration-100 ease-in-out peer-focus:translate-x-[0.15rem] peer-focus:-translate-y-2 peer-focus:scale-[0.85] peer-focus:opacity-[0.65] peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:scale-[0.85] peer-[:not(:placeholder-shown)]:opacity-[0.65] motion-reduce:transition-none dark:text-neutral-200"
            >E-mail</label
          >
          <div class="flex justify-left">
            <div class="relative mb-3 xl:w-96" data-te-input-wrapper-init>
              <p  class="email-warning text-red-600 text-sm "></p>
            </div>
          </div>
        </div>

        <div class="relative mb-3 ">
          <input
            type="password"
            class="password peer m-0 block h-[58px] w-[27.5rem] max-[830px]:w-[98.5vw] rounded border border-solid border-neutral-300 bg-white bg-clip-padding py-4 px-3 text-base font-normal leading-tight text-neutral-700 ease-in-out placeholder:text-transparent focus:border-emerald-500 focus:bg-white focus:pt-[1.625rem] focus:pb-[0.625rem] focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:bg-neutral-800 dark:text-neutral-200 [&:not(:placeholder-shown)]:pt-[1.625rem] [&:not(:placeholder-shown)]:pb-[0.625rem]"
            id="floatingInput"
            placeholder="name@example.com"
            required
            name="password"
          />
          <label
            for="floatingInput"
            class=" pointer-events-none absolute top-0 left-0 origin-[0_0] border border-solid border-transparent py-4 px-3 text-neutral-700 transition-[opacity,_transform] duration-100 ease-in-out peer-focus:translate-x-[0.15rem] peer-focus:-translate-y-2 peer-focus:scale-[0.85] peer-focus:opacity-[0.65] peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:scale-[0.85] peer-[:not(:placeholder-shown)]:opacity-[0.65] motion-reduce:transition-none dark:text-neutral-200"
            >Password</label
          >
          <div class="flex justify-left">
            <div class="relative mb-3 xl:w-96" data-te-input-wrapper-init>
              <p  class="password-warning text-red-600 text-sm "></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="text-zinc-500 max-[830px]:text-xs">
        By continuing, I agree to Wag!'s
        <a href="" class="text-emerald-500 font-bold ">Terms</a> (including a
        <a href="" class="text-emerald-500 font-bold">mutual arbitration clause</a
        >) and <a href="" class="text-emerald-500 font-bold">Privacy Policy</a>.
      </p>
    </div>

    <button class="bg-emerald-500 px-10 py-4 text-lg max-[830px]:text-base max-[830px]:px-4 max-[830px]:py-2 rounded-lg flex items-center justify-center m-auto font-bold text-white my-4 hover:bg-emerald-400"> 
      Continue
    </button>

  </form>
  <!-- This is the signing by email form  -->

  
</div>

<%- include('footer'); -%>
