<%- include('header'); -%>

<div class="grid w-1/4 justify-center items-center m-auto">

  <!-- This is the first div with the background -->
  <div
    class="bg-cover bg-center h-96 w-[32rem] max-[580px]:w-[100vw] flex justify-center items-end "
    style="
      background-image: url('bgSignUp.png');
    "
  >
  <div>
    <img src="walkie.png" alt=""  class="mb-10 w-52 max-[830px]:w-40">
  </div>
</div>
<!-- This is the first div with the background -->



<!-- This is the title -->
<div class="grid justify-center items-center text-center">
  <p class="text-5xl font-bold text-zinc-500 max-[830px]:text-3xl">Sign In</p>
  <p class="text-xl text-zinc-400 mt-4 max-[830px]:text-base" >Sign in to access your Wag! account.</p>
</div>
<!-- This is the title -->



<!-- This is the sign in buttons area -->
<div class="signInButtons grid justify-center items-center mt-6 gap-3">

  <a role="button" href="/auth/google" class="flex justify-center items-center border border-solid border-black hover:bg-zinc-300 transition duration-200 px-6 py-3 rounded-lg gap-4">
    <img src="google.png" alt="" class="w-8"> <p class="text-lg font-bold text-zinc-500 w-[13rem]">Continue with Google</p>
  </a>
  
  <a  href="#" class="email flex justify-center items-center border border-solid bg-emerald-500 hover:bg-emerald-400 transition duration-200 px-6 py-3 rounded-lg gap-4">
    <img src="" alt="" class="w-8"> <p class="text-xl font-extrabold text-white w-[13rem]">Sign in with email</p>
  </a>

</div>

<div class="newUser grid justify-center items-center gap-4 mt-4 text-center ">
  <p class="text-lg text-zinc-500">New user? <a href="/signUp" class="text-emerald-500">Sign up now</a></p>
  <p class="text-lg text-zinc-500">Are you a per Caregiver? <a href="" class="text-emerald-500">sign In</a></p>
</div>
<!-- This is the sign in buttons area -->




<!-- This is the sign in with email form -->
<div class=" emailSignIn my-8 mx-16 hidden">
  <button class="backBtn text-emerald-500 font-bold">Back</button>
  <form action="/signIn" method="post">
    <div class="grid justify-center">
    <div class="relative mb-3 xl:w-96">
      <input
        type="email"
        class="peer m-0 block h-[58px] w-full rounded border border-solid border-neutral-300 bg-white bg-clip-padding py-4 px-3 text-base font-normal leading-tight text-neutral-700 ease-in-out placeholder:text-transparent focus:border-emerald-500 focus:bg-white focus:pt-[1.625rem] focus:pb-[0.625rem] focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:bg-neutral-800 dark:text-neutral-200 [&:not(:placeholder-shown)]:pt-[1.625rem] [&:not(:placeholder-shown)]:pb-[0.625rem]"
        id="floatingInput"
        placeholder="name@example.com" 
        name="email"
        />
      <label
        for="floatingInput"
        class="pointer-events-none absolute top-0 left-0 origin-[0_0] border border-solid border-transparent py-4 px-3 text-neutral-700 transition-[opacity,_transform] duration-100 ease-in-out peer-focus:translate-x-[0.15rem] peer-focus:-translate-y-2 peer-focus:scale-[0.85] peer-focus:opacity-[0.65] peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:scale-[0.85] peer-[:not(:placeholder-shown)]:opacity-[0.65] motion-reduce:transition-none dark:text-neutral-200"
        >userName</label
      >
    </div>
    <div class="relative mb-3 xl:w-96">
      <input
        type="email"
        class="peer m-0 block h-[58px] w-full rounded border border-solid border-neutral-300 bg-white bg-clip-padding py-4 px-3 text-base font-normal leading-tight text-neutral-700 ease-in-out placeholder:text-transparent focus:border-emerald-500 focus:bg-white focus:pt-[1.625rem] focus:pb-[0.625rem] focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:bg-neutral-800 dark:text-neutral-200 [&:not(:placeholder-shown)]:pt-[1.625rem] [&:not(:placeholder-shown)]:pb-[0.625rem]"
        id="floatingInput"
        placeholder="name@example.com" 
        name="email"
        />
      <label
        for="floatingInput"
        class="pointer-events-none absolute top-0 left-0 origin-[0_0] border border-solid border-transparent py-4 px-3 text-neutral-700 transition-[opacity,_transform] duration-100 ease-in-out peer-focus:translate-x-[0.15rem] peer-focus:-translate-y-2 peer-focus:scale-[0.85] peer-focus:opacity-[0.65] peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:scale-[0.85] peer-[:not(:placeholder-shown)]:opacity-[0.65] motion-reduce:transition-none dark:text-neutral-200"
        >Password</label
      >
    </div>
    <button class="bg-emerald-500 py-4 rounded-lg hover:bg-emerald-400 transition duration-200">
      <p class="text-lg font-bold text-white">Continue</p>
    </button>
  </form>
</div>

<div class="grid justify-center items-center gap-4 mt-4 text-center ">
  <p class="text-lg text-zinc-500">New user? <a href="" class="text-emerald-500">Sign up now</a></p>
  <p class="text-lg text-zinc-500">Are you a per Caregiver? <a href="" class="text-emerald-500">sign In</a></p>
</div>
<!-- This is the sign in with email form -->

</div>




<%- include('footer'); -%>