<div>
    <p class="text-zinc-500 max-[830px]:text-xs max-[830px]:text-center">
      By continuing, I agree to Wag!'s
      <a href="" class="text-emerald-500 font-bold">Terms</a> (including a
      <a href="" class="text-emerald-500 font-bold"
        >mutual arbitration clause</a
      >) and <a href="" class="text-emerald-500 font-bold">Privacy Policy</a>.
    </p>
  </div>