<div
    class="mt-16 flex items-center justify-evenly h-12 shadow-md shadow-neutral-300 max-[766px]:hidden"
  >
    <a
      href="/posts"
      class="hover:scale-110 transition duration-200 hover:text-emerald-500"
      >Any</a
    >
    <a
      href="/posts?dogBreed=Labrador"
      class="hover:scale-110 transition duration-200 hover:text-emerald-500"
      >Labrador</a
    >
    <a
      href="/posts?dogBreed=German Shepard"
      class="hover:scale-110 transition duration-200 hover:text-emerald-500"
      >German shepard</a
    >
    <a
      href="/posts?dogBreed=Mastif"
      class="hover:scale-110 transition duration-200 hover:text-emerald-500"
      >Mastif</a
    >
    <a
      href="/posts?dogBreed=Chiwawa"
      class="hover:scale-110 transition duration-200 hover:text-emerald-500"
      >Chiwawa</a
    >
    <a
      href="/posts?dogBreed=Doberman"
      class="hover:scale-110 transition duration-200 hover:text-emerald-500"
      >Doberman</a
    >
  </div>