<button  class="email flex justify-center items-center border border-solid bg-emerald-500 hover:bg-emerald-400 transition duration-200 px-6 py-3 rounded-lg ">
    <img src="" alt="" class="w-8"> <p class="text-xl font-extrabold text-white w-[13rem] mr-3">Sign in with email</p>
  </button>