<a role="button" href="/auth/google" class="flex justify-center items-center border border-solid border-black hover:bg-zinc-300 transition duration-200 px-6 py-3 rounded-lg gap-4">
    <img src="google.png" alt="" class="w-8"> <p class="text-lg font-bold text-zinc-500 w-[13rem]">Continue with Google</p>
</a>